<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'Storage'|translate}}</h4>
            <a *ngIf="checkClaim('CreateStorageCommand')" class="pull-right" data-toggle="modal" data-target="#storage"> <i
                style="color:white" title="{{'Add'| translate}}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <div class="col-md-4 pull-right">
                  <mat-form-field>
                      <mat-label>{{Filter |translate}}</mat-label>
                      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                  </mat-form-field>
              </div>

              <table mat-table [dataSource]="dataSource" matSort  >

                <ng-container matColumnDef="storageId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ID' |translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.storageId}} </td>
                </ng-container>

                <ng-container matColumnDef="productId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Name' |translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                </ng-container>

               <ng-container matColumnDef="productStock" >
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Stock' |translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.productStock}} </td>
               </ng-container>


               <ng-container matColumnDef="isReady">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ready' |translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.isReady}} </td>
                </ng-container>

                <ng-container matColumnDef="isDeleted">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Status' |translate}} </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="element.isDeleted" [disabled]="true">
                    </mat-checkbox>
                  </td>

                </ng-container>

                <ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateStorageCommand')" data-toggle="modal" data-target="#storage" (click)="getStorageById(element.storageId)"><i
                        title="{{'Update' | translate}}" style="color:#ff5722;" class="far fa-edit"></i></a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteStorageCommand')" (confirm)="deleteStorage(element.storageId)" [swal]="deleteSwal"><i title="{{'Delete' | translate}}" style="color:#D9534E;"
                        class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 25,50,100]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="storage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(storageAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          {{'Storage'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="storageAddForm" [formGroup]="storageAddForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-md-6">
              <select class="browser-default custom-select" name="productId" formControlName="productId">
                <option *ngFor="let item of productlookUp" [ngValue]="item.id"> {{item.label}}</option>
              </select>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'productStock'|translate}}" type="text" id="productStock" name="productStock"
                  formControlName="productStock">
                <div class="alert alert-danger"
                  *ngIf="storageAddForm.get('productStock')!.hasError('required') && storageAddForm.get('productStock')!.dirty"></div>
              </mat-form-field>
            </div>
          </div>
    
          
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save' |translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>


<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon="error" [showCancelButton]="true"
[confirmButtonText]="'OK'" [cancelButtonText]="'Cancel'">
</swal>